{% extends '::base.html.twig' %}

{% block title %}Category Page{% endblock %}

{% block body %}
<div class="container">  
    <h1>Categories list</h1>

    <table class="table">
        <thead>
            <tr>
                <th><h4>Name</h4></th>
                <th><h4>Actions</h4></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><h2>{{ category.name }}</h2></td>
                <td>
                    <div style="padding: 20px">
                        <a href="{{ path('category_show', { 'id': category.id }) }}">
                            <button class="btn btn-info">
                                <strong>Show</strong>
                            </button>
                        </a>
                        <a href="{{ path('category_edit', { 'id': category.id }) }}">
                            <button class="btn btn-warning">
                                <strong>Edit</strong>
                            </button>
                        </a>
                        <a href="{{ path('task_new') }}"
                            <button class="btn btn-success">
                                <strong>Add new Task</strong>
                            </button>
                        </a>   
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
    <a href="{{ path('category_new') }}"
        <button class="btn btn-success">
            <strong>Create new Category</strong>
        </button>
    </a>
    </div>
</div>  
{% endblock %}