{% extends '::base.html.twig' %}

{% block body %}
<div class="container">    
    <h1>Tasks list</h1>
    <div>
    <a href="{{ path('fos_user_security_logout') }}">
        <button class="btn btn-warning">
            <strong>Logout</strong>
        </button>
    </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th>Deadline</th>
                <th>Priority</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>
                    <a href="{{ path('task_show', {'id':task.id}) }}">
                        {{ task.name }}
                    </a>
                </td>
                <td>{{ task.description }}</td>
                <td>
                    <a href="{{ path('category_show', {'id':task.category.id}) }}">
                        {{ task.category.name }}
                    </a>
                </td>
                <td>{% if task.date %}{{ task.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if task.deadline %}{{ task.deadline|date('Y-m-d') }}{% endif %}</td>
                <td>{{ task.priority }}</td>
                <td><a href="/uploads/{{ task.attach }}">Download</a></td>
                <td>
                    <a href="{{ path('task_show', { 'id': task.id }) }}">
                        <button class="btn btn-info">
                            <strong>Show</strong>
                        </button>
                    </a>
                    <a href="{{ path('task_edit', { 'id': task.id }) }}">
                        <button class="btn btn-warning">
                            <strong>Edit</strong>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}"
        <button class="btn btn-success">
            <strong>Create new Task</strong>
        </button>
    </a>
</div>
{% endblock %}
