{% extends '::base.html.twig' %}

{% block body %}
<div class="container">    
    <h1>Tasks list</h1>
    <div>
    <a href="{{ path('fos_user_security_logout') }}">
        <button class="btn btn-warning">
            <strong>Logout</strong>
        </button>
    </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Deadline</th>
                <th>Priority</th>
                <th>Attach</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.deadline %}{{ task.deadline|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.attach }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}"
        <button class="btn btn-success">
            <strong>Create new Task</strong>
        </button>
    </a>
</div>
{% endblock %}
