{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Create Task</h1>
    <div>
        <button class="btn btn-primary" id="go-back">
            <strong>Back</strong>
        </button>
    </div><br>
    
    {{ form_start(form) }}
        <div class="form">
            {{ form_label(form.name, 'Name:') }}<br>
            {{ form_widget(form.name) }}
        </div>
        <div class="form">
            {{ form_label(form.description, 'Description:') }}<br>
            {{ form_widget(form.description) }}
        </div>
        <div class="form">
            {{ form_label(form.date, 'Date:') }}<br>
            {{ form_widget(form.date) }}
        </div>
        <div class="form">
            {{ form_label(form.deadline, 'Deadline:') }}<br>
            {{ form_widget(form.deadline) }}
        </div>
        <div class="form">
            {{ form_label(form.priority, 'Priority:') }}<br>
            {{ form_widget(form.priority) }}
        </div>
        <div class="form">
            {{ form_label(form.attach, 'Add picture:') }}<br>
            {{ form_widget(form.attach) }}
        </div>
        <div class="form">
            {{ form_label(form.category, 'Category:') }}<br>
            {{ form_widget(form.category) }}
        </div>
        <div class="form" style="margin-top: 10px">
            <input type="submit" value="Create" />
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}