{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    
    <div style="margin-top: 20px">
        <a href="{{ path('task_index') }}">
            <button class="btn btn-primary" style="display: inline; float: left; margin-right: 5px;">
                <strong>Back to Task's page</strong>
            </button>
        </a>
        <a href="{{ path('task_edit', { 'id': task.id }) }}">
            <button class="btn btn-warning" style="display: inline; float: left; margin-right: 5px;">
                <strong>Edit</strong>
            </button>
        </a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-warning" style="display: inline; font-weight: bold">
        {{ form_end(delete_form) }}
    </div>
    <h1>Task</h1>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ task.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ task.description }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ task.category.name }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Deadline</th>
                        <td>{% if task.deadline %}{{ task.deadline|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Priority</th>
                        <td>{{ task.priority }}</td>
                    </tr>
                    <tr>
                        <th>Attach</th>
                        <td>{{ task.attach }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}